body,
main,
section {
    display: flex;
    flex: 1;
}

body,
main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body,
main,
section {
    width: 100%;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 32px;
    background-color: #101010;
    color: #949494;
}

section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    max-width: 95%;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-composition: compose, add;
    transform-origin: center;
}

@keyframes rotate-x {
    from {
        rotate: none
    }

    to {
        rotate: x 1turn;
    }
}

@keyframes rotate-y {
    from {
        rotate: none;
    }

    to {
        rotate: y 1turn;
    }
}

@keyframes rotate-z {
    from {
        rotate: none;
    }

    to {
        rotate: z 1turn;
    }
}

@keyframes scale-down {
    from {
        scale: 1;
    }

    50% {
        scale: .25;
    }

    to {
        scale: 1;
    }
}

@keyframes scale-up {
    from {
        scale: 1;
    }

    50% {
        scale: 2;
    }

    to {
        scale: 1;
    }
}

@keyframes fade-in-out {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes skew {
    from {
        transform: skew(0deg, 0deg);
    }

    33% {
        transform: skew(20deg, 20deg);
    }

    66% {
        transform: skew(-20deg, -20deg);
    }

    to {
        transform: skew(0deg, 0deg);
    }
}

@keyframes shake-x {
    from {
        translate: 0;
    }

    25% {
        translate: -25% 0;
    }

    50% {
        translate: 25% 0;
    }

    75% {
        translate: -25% 0;
    }

    to {
        translate: 0;
    }
}

@keyframes shake-y {
    from {
        translate: 0,
    }

    25% {
        translate: 0 -50%;
    }

    50% {
        translate: 0 50%;
    }

    75% {
        translate: 0 -50%;
    }

    to {
        translate: 0;
    }
}

@keyframes grayscale {
    from {
        filter: grayscale(0);
    }

    50% {
        filter: grayscale(100%);
    }

    to {
        filter: grayscale(0);
    }
}

@keyframes blur {
    from {
        filter: blur(0);
    }

    50% {
        filter: blur(5px);
    }

    to {
        filter: blur(0);
    }
}

@keyframes contrast {
    from {
        filter: contrast(1);
    }

    50% {
        filter: contrast(2);
    }

    to {
        filter: contrast(1);
    }
}

@keyframes hue-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    to {
        filter: hue-rotate(0deg);
    }
}