body,
main,
section {
    display: flex;
    flex: 1;
}

body::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
        repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, rgba(0, 0, 0, 0.1) 0 1px, transparent 1px 100%);
    z-index: 2;
}

body,
main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body,
main,
section {
    width: 100%;
    overflow: hidden;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
    font-size: 32px;
    background-color: #101010;
    color: #949494;
}

section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner {
    max-width: 95%;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-composition: compose, add;
    transform-origin: center;
}

.background-canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.demo-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: 24px;
    text-align: center;
    line-height: 3;
    animation: 2s step-start blinking-demo-message infinite
}

@keyframes blinking-demo-message {
    from {
        opacity: .75;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: .75;
    }
}

@keyframes rotate-x {
    from {
        rotate: none
    }

    to {
        rotate: x 1turn;
    }
}

@keyframes rotate-y {
    from {
        rotate: none;
    }

    to {
        rotate: y 1turn;
    }
}

@keyframes rotate-z {
    from {
        rotate: none;
    }

    to {
        rotate: z 1turn;
    }
}

@keyframes scale-x {
    from {
        scale: 1 1;
    }

    33% {
        scale: 0.25 1;
    }

    66% {
        scale: 2.5 1;
    }

    to {
        scale: 1 1;
    }
}

@keyframes scale-y {
    from {
        scale: 1 1;
    }

    33% {
        scale: 1 0.25;
    }

    66% {
        scale: 1 3;
    }

    to {
        scale: 1 1;
    }
}

@keyframes scale-xy {
    from {
        scale: 1 1;
    }

    33% {
        scale: 0.5 0.5;
    }

    66% {
        scale: 2 2;
    }

    to {
        scale: 1 1;
    }
}


@keyframes fade-in-out {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    to {
        opacity: 1;
    }
}

@keyframes skew-1 {
    from {
        transform: skew(0deg, 0deg);
    }

    33% {
        transform: skew(30deg, 30deg);
    }

    66% {
        transform: skew(-30deg, -30deg);
    }

    to {
        transform: skew(0deg, 0deg);
    }
}

@keyframes skew-2 {
    from {
        transform: skew(0deg, 0deg);
    }

    33% {
        transform: skew(30deg, -30deg);
    }

    66% {
        transform: skew(-30deg, 30deg);
    }

    to {
        transform: skew(0deg, 0deg);
    }
}

@keyframes skew-3 {
    from {
        transform: skew(0deg, 0deg);
    }

    33% {
        transform: skew(-30deg, 30deg);
    }

    66% {
        transform: skew(30deg, -30deg);
    }

    to {
        transform: skew(0deg, 0deg);
    }
}

@keyframes shake-x {
    from {
        translate: 0;
    }

    25% {
        translate: -50% 0;
    }

    50% {
        translate: 50% 0;
    }

    75% {
        translate: -50% 0;
    }

    to {
        translate: 0;
    }
}

@keyframes shake-y {
    from {
        translate: 0,
    }

    25% {
        translate: 0 -75%;
    }

    50% {
        translate: 0 75%;
    }

    75% {
        translate: 0 -75%;
    }

    to {
        translate: 0;
    }
}

@keyframes grayscale {
    from {
        filter: grayscale(0);
    }

    50% {
        filter: grayscale(100%);
    }

    to {
        filter: grayscale(0);
    }
}

@keyframes contrast {
    from {
        filter: contrast(1);
    }

    50% {
        filter: contrast(2);
    }

    to {
        filter: contrast(1);
    }
}

@keyframes hue-rotate {
    from {
        filter: hue-rotate(0deg);
    }

    50% {
        filter: hue-rotate(180deg);
    }

    to {
        filter: hue-rotate(0deg);
    }
}